Section 6.1 

6.1 NLRI Encoding
 
BGP CT routes may carry multiple labels in the NLRI
 
Should that be an RFC 2119 MAY? I could not see a use case for carrying more than one label - please could you clarify?
 
KV> No specific usecase exists today that needs carrying more than one label in CT.
KV> This line was added just for completeness, based on one of the WG comments. 


Comment on 6.1 is from Jon Hardwick's review 

Old text:/ The "Classful Transport" SAFI NLRI has same encoding as specified in Section 2 of [RFC8277]/ 

I would like to include AFI/SAFI pairs in this paragraph.  I think it reads better.  See what you think. 

New text:/The "Classful Transport" SAFI NLRI (AFI/SAFI 1/76 or 2/76) has same encoding as specified in Section 2 of [RFC8277]/ 


Updated text to address comment: https://datatracker.ietf.org/doc/html/draft-ietf-idr-bgp-ct-22#section-6.1 