2nd WG LC Shepherd's Report: G3 items - Main Text English Editorial items 


### Type G3: Editorial only in Main Text 

### G3-01: section 2.1 

**Old text:/**  End to End Tunnel: A tunnel spanning several adjacent tunnel domains
   created by "stitching" them together using MPLS labels (or an
   equivalent identifier based on the forwarding architecture). /

What to change:  - remove ()

**New text:/**   End to End Tunnel: A tunnel spanning several adjacent tunnel domains
   created by "stitching" them together using MPLS labels or an
   equivalent identifier based on the forwarding architecture./
   
### G3-02, section 4.2- fix reference to section 9.1.2.1 of RFC4271 

**Old text:**/  An implementation may realize the TRDB as a "Routing Table" referred
   in Section 9.1.2.1 of RFC4271 (https://www.rfc-editor.org/rfc/
   rfc4271#section-9.1.2.1)/
   
**New text**:/ An implementation may realize the TRDB as a "Routing Table" referred
   in Section 9.1.2.1 of RFC4271./ 

**G3-03: Section 4.3, paragraph 4, extra space before period.** 

**Old text:**/ A BGP speaker that implements Route Target Constrain [RFC4684] MUST
   also apply the RTC procedures to the Transport Class Route Target
   Extended communities carried on BGP CT routes (AFI/SAFI: 1/76 or
   2/76) ./

**New text:**/   A BGP speaker that implements Route Target Constrain [RFC4684] MUST
   also apply the RTC procedures to the Transport Class Route Target
   Extended communities carried on BGP CT routes (AFI/SAFI: 1/76 or
   2/76)./
   
### G3-04, section 7.2, paragraph 3 - run-on sentence. 

**Old text:**/
      The egress node of the tunnel, i.e. the tunnel endpoint (EP),
      originates the BGP CT route with RD:EP in the NLRI, Transport
      Class RT and PNH as EP, which will be resolved over the tunnel
      route in TRDB at the ingress node./ 

**New text:**/
      The egress node of the tunnel, i.e. the tunnel endpoint (EP),
      originates the BGP CT route with RD:EP in the NLRI, Transport
      Class RT and PNH as EP.  This CT route will be resolved over the tunnel
      route in TRDB at the ingress node./ 

### G3-05 Section 7.4, paragraph 3, last sentence needs article before "impact"

Old text:/ If a different label allocation mode is
      used, impact on end to end convergence should be considered./

New Text:/If a different label allocation mode is
      used, the impact on end to end convergence should be considered./ 

###  G3-06: Section 7.5, paragraph 2, sentence 1 

**Old text**:/
	  If the inter-AS links need to honor Transport Class, then the BN
      MUST follow procedures of an Ingress node described previously and
      perform the next hop resolution process./
	  
Clarity on reference by giving a section (? section 7.3). 

### G3-07: section 7.8, paragraph 1, missing an article 

**Old text**:/Upon receipt of a BGP service route (for example, AFI/SAFI: 1/1,
      2/1) with a PNH as EP that is not directly connected (for example,
      an IBGP-route), Mapping Community (for example, Color Extended
      Community) on the route is used to decide to which resolution
      scheme this route is to be mapped./

**Change:** Old text:/Mapping Community/ New text:/a Mapping Community/

### G3-08: Section 7.8 paragraph 4, Incorrect use of () outside of the sentence. 

**Old text:**/
      If the resolution process does not find a Tunnel Route for EP in
      any of the Transport Route Databases, the service route MUST be
      considered unresolvable.  (See RFC 4271, Section 9.1.2.1)./
**New text**:/
      If the resolution process does not find a Tunnel Route for EP in
      any of the Transport Route Databases, the service route MUST be
      considered unresolvable (See RFC 4271, Section 9.1.2.1)./

### G3-09: Section 8.4.1, paragraph 2, space needed 

**Old sentence:**/ Thus, PE25 encapsulates the IP
   packet in an MPLS packet with label V-L1(innermost), B-L5, and top
   label as PE25_to_ABR23_gold tunnel. /
   
**change:** old:/V-L1(innermost)/ to /V-L1 (innermost)/

### G3-10: Section 9.2, paragraph 3

In Paragraph 3
**Old sentence:/** 
	  The RT carrying <eSN>:<TC> MAY be an IP-address specific regular
      RT (BGP attribute code 16), IPv6-address specific RT (BGP
      attribute code 25). /
**New sentence:/**
      The RT carrying <eSN>:<TC> MAY be an IP-address specific regular
      RT (BGP attribute code 16), or IPv6-address specific RT (BGP
      attribute code 25). / 

### G3-11: Section 9.3, paragraph 1, sentence 2 - missing period. 

### Old text:/This is possible using mechanism
      described in Appendix D/

### New text:/This is possible using mechanism
      described in Appendix D./ 

### G3-12: Section 11.2.3.1, paragraph 1 + 2 need "101 and 102".

**Old text**:/
   In this approach, duplicate tunnels that satisfy Gold SLA are
   configured in domains AS1 and AS3, but they are given fine grained
   colors 101, 102./
 
 **New text**:/
    In this approach, duplicate tunnels that satisfy Gold SLA are
   configured in domains AS1 and AS3, but they are given fine grained
   colors 101 and 102./ 

**Old text**:/
    These tunnels will be installed in TRDBs corresponding to transport
   classes of color 101, 102./
**New text:**/
   These tunnels will be installed in TRDBs corresponding to transport
   classes of color 101 and 102./



Closing this issues after discussion with authors and review diff between -26 and -27. 